{% extends 'common/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'style/cluster.css' %}">
{% endblock %}

{% block content %}
<div class="conatainer d-flex flex-column justify-content-center align-items-center">
  <h4 class="mt-5 py-3 text-center">Create cluster records</h4>
  <div class="case-card card mx-auto clust">
    <div class="card-body">
      <form method='POST' action="">
          {% csrf_token %}
          <label for="distance">Inter-location distance threshold: </label>

          <input type="number" id="distance" name="distance"
          value="200">

          <br>

          <label for="time">Proximity in time threshold: </label>

          <input type="number" id="time" name="time"
          value="3">

          <br>

          <label for="clusterSize">Minimum cluster size: </label>

          <input type="number" id="clusterSize" name="clusterSize"
          value="2">
          <div class="row justify-content-md-center">
              <div class="col-sm-10 text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </div>
      </form>

      {% if patient_message %}
      <span>{{ patient_message }}</span>
      {% endif %}
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    {% if clust %}
      {% if clust.total_clusters != 0 %}
        {% for cl in clust.clustres%}
        <div class="clustgroup">
          <h3>
              Cluster {{ cl.ind|add:"1"}}
          </h3>
          <a class="btn btn-outline-success" data-toggle="collapse" href="#cli{{  cl.ind  }}"> View Cluster </a>
        </div>
          <div class="collapse" id="cli{{  cl.ind  }}">
            {% for visit in cl.cluster %}

              <div class="visitgroup">
                  <h2>Visit Number {{ visit.ind|add:"1" }}</h2>
                  <a class="btn btn-success" data-toggle="collapse" href="#vi{{  visit.ind  }}{{ vi.day }}"> View Visit Info </a>
              </div>
              <div class="visit collapse" id="vi{{  visit.ind  }}{{ vi.day }}">
                  <table class="table table-striped">
                    <colgroup>
                      <col span="1" id="first">
                    </colgroup>
                  <thead>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="bolder">Case Number </td>
                      <td>{{visit.caseNo}}</td>
                    </tr>
                    <tr>
                      <td class="bolder">HK1980 Grid Coordinates </td>
                      <td>({{ visit.x }}, {{ visit.y }})</td>
                    </tr>
                    <tr>
                      <td class="bolder">Location Name </td>
                      <td>{{visit.loc}}</td>
                    </tr>
                    <tr>
                      <td class="bolder">Date of Visit </td>
                      <td>{{visit.day}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            {%  endfor  %}
          </div>

        {% endfor %}

      {% else %}
       <div class="alert alert-danger" role="alert">
         No Clusters Detected as per given Critera
       </div>
      {% endif %}
    {% endif %}
  </div>
</div>
<br>

<!-- role="button" aria-expanded="false" aria-controls="collapseExample" -->
<!--
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample">
    Link with href
</a>

<div class="collapse" id="collapseExample">
  Hello World
</div> -->


{% endblock %}
